* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
  }
  
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgba(10, 7, 151, 0.96) 0%, rgba(156, 7, 248, 0.39) 99.97%, rgba(34, 22, 115, 0.34) 99.98%, rgba(50, 26, 204, 0.30) 99.99%, rgba(11, 3, 21, 0.00) 100%);
  }
  
  main {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  h1 {
    width: 300px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 40px;
    border: 1px solid #000;
    background: linear-gradient(180deg, #0E00AE 0%, rgba(14, 0, 174, 0.22) 97.92%, rgba(14, 0, 174, 0.00) 100%);
    box-shadow: 20px 50px 10px 10px rgba(24, 24, 27, 0.89);
    margin-bottom: 50px;
  }
  
  hr {
    font-weight: bold;
    height: 3px;
    background: black;
    margin-bottom: 10px;
  }
  
  .game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .game button {
    width: 100px;
    height: 100px;
    margin: 5px;
    font-family: inherit;
    cursor: pointer;
    font-size: 50px;
    background: #f7f7f7;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;

  }
/* 
.game button::before {
    content: ;

} */